## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [1]:
import pandas as pd
automobile_data = pd.read_csv('Automobile.csv')
automobile_data

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

**Load the Automobile dataset into variable "auto"**

In [2]:
auto= pd.read_csv('Automobile.csv')
print(auto.head())

   symboling  normalized_losses         make fuel_type aspiration  \
0          3                168  alfa-romero       gas        std
1          3                168  alfa-romero       gas        std
2          1                168  alfa-romero       gas        std
3          2                164         audi       gas        std
4          2                164         audi       gas        std

  number_of_doors   body_style drive_wheels engine_location  wheel_base  ...  \
0             two  convertible          rwd           front        88.6  ...
1             two  convertible          rwd           front        88.6  ...
2             two    hatchback          rwd           front        94.5  ...
3            four        sedan          fwd           front        99.8  ...
4            four        sedan          4wd           front        99.4  ...

   engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
0          130         mpfi  3.47    2.68               9.0        111
1          130         mpfi  3.47    2.68               9.0        111
2          152         mpfi  2.68    3.47               9.0        154
3          109         mpfi  3.19    3.40              10.0        102
4          136         mpfi  3.19    3.40               8.0        115

   peak_rpm city_mpg  highway_mpg  price
0      5000       21           27  13495
1      5000       21           27  16500
2      5000       19           26  16500
3      5500       24           30  13950
4      5500       18           22  17450

[5 rows x 26 columns]

**Check the head of the DataFrame.**

In [3]:
auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [4]:

print(auto.shape)

(201, 26)

**What is the average Price of all cars in the dataset?**

In [11]:
average_price = auto['price'].mean()
print(average_price)

13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [12]:
average_price_per_make = auto.groupby('make')['price'].mean()
cheapest_make = average_price_per_make.idxmin()
costliest_make = average_price_per_make.idxmax()

cheapest_price = average_price_per_make.min()
costliest_price = average_price_per_make.max()

print(cheapest_price)
print(costliest_price)

6007.0
34600.0

**How many cars have horsepower greater than 100?**

In [14]:
cars_with_high_hp = auto[auto['horsepower'] > 100]
num_cars_with_high_hp = cars_with_high_hp.shape[0]
print(num_cars_with_high_hp)

90

**How many hatchback cars are in the dataset ?**

In [15]:
hatchback_cars = auto[auto['body_style'] == 'hatchback']
num_hatchback_cars = hatchback_cars.shape[0]
print(num_hatchback_cars)

68

**What are the 3 most commonly found cars in the dataset?**

In [18]:
make_counts = auto['make'].value_counts()
top_3_makes = make_counts.head(3)
print(top_3_makes)

make
toyota    32
nissan    18
mazda     17
Name: count, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [20]:
car_with_price_7099 = auto[auto['price'] == 7099]
make_of_car = car_with_price_7099['make'].values
if len(make_of_car) > 0:
    print(make_of_car)
else:
    print("No car with the price of $7099 found in the dataset.")

['nissan']

**Which cars are priced greater than 40000?**

In [22]:
cars_above_40000 = auto[auto['price'] > 40000]
print(cars_above_40000[['make',  'price']])

             make  price
15            bmw  41315
70  mercedes-benz  40960
71  mercedes-benz  45400

**Which are the cars that are both a sedan and priced less than 7000?**

In [23]:
sedans_under_7000 = auto[(auto['body_style'] == 'sedan') & (auto['price'] < 7000)]
print(sedans_under_7000[['make', 'body_style', 'price']])

           make body_style  price
19    chevrolet      sedan   6575
24        dodge      sedan   6692
42        isuzu      sedan   6785
50        mazda      sedan   6695
82   mitsubishi      sedan   6989
86       nissan      sedan   5499
88       nissan      sedan   6649
89       nissan      sedan   6849
118    plymouth      sedan   6692
152      toyota      sedan   6938

 **Count the number of unique values in the `fuel_type` column.**

In [24]:
unique_fuel_types = auto['fuel_type'].nunique()
print(unique_fuel_types)

2

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [25]:
cars_with_hp_100_200 = auto[(auto['horsepower'] >= 100) & (auto['horsepower'] <= 200)]
print(cars_with_hp_100_200[['make', 'horsepower', 'price']])

            make  horsepower  price
0    alfa-romero         111  13495
1    alfa-romero         111  16500
2    alfa-romero         154  16500
3           audi         102  13950
4           audi         115  17450
..           ...         ...    ...
196        volvo         114  16845
197        volvo         160  19045
198        volvo         134  21485
199        volvo         106  22470
200        volvo         114  22625

[88 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [26]:
average_mpg = auto.groupby('body_style')[['city_mpg', 'highway_mpg']].mean()
print(average_mpg)

              city_mpg  highway_mpg
body_style
convertible  20.500000    26.000000
hardtop      21.625000    27.250000
hatchback    26.602941    32.382353
sedan        25.053191    30.574468
wagon        24.040000    28.720000

**What is the median `price` for each `make`?**

In [27]:
median_price_per_make = auto.groupby('make')['price'].median()
print(median_price_per_make)

make
alfa-romero      16500.0
audi             17580.0
bmw              22835.0
chevrolet         6295.0
dodge             7609.0
honda             7295.0
isuzu             8916.5
jaguar           35550.0
mazda            10595.0
mercedes-benz    32892.0
mercury          16503.0
mitsubishi        8499.0
nissan            8124.0
peugot           16630.0
plymouth          7609.0
porsche          33278.0
renault           9595.0
saab             15275.0
subaru            7894.0
toyota            9103.0
volkswagen        9737.5
volvo            18420.0
Name: price, dtype: float64

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [28]:
filtered_cars = auto[(auto['wheel_base'] > 100) & (auto['curb_weight'] < 2500)]
print(filtered_cars[['make', 'wheel_base', 'curb_weight', 'price']])

       make  wheel_base  curb_weight  price
9       bmw       101.2         2395  16430
10      bmw       101.2         2395  16925
169  toyota       102.4         2326   8948
170  toyota       102.4         2480  10698
171  toyota       102.4         2414   9988
172  toyota       102.4         2414  10898
173  toyota       102.4         2458  11248

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

In [29]:
auto['price_per_hp'] = auto['price'] / auto['horsepower']
print(auto[['make', 'price', 'horsepower', 'price_per_hp']].head())

          make  price  horsepower  price_per_hp
0  alfa-romero  13495         111    121.576577
1  alfa-romero  16500         111    148.648649
2  alfa-romero  16500         154    107.142857
3         audi  13950         102    136.764706
4         audi  17450         115    151.739130

**Count how many cars have a `number_of_doors` as `four`.**

In [30]:
cars_with_four_doors = auto[auto['number_of_doors'] == 'four']
num_cars_with_four_doors = cars_with_four_doors.shape[0]
print(num_cars_with_four_doors)

114

**Find the top 5 cars based on their `highway_mpg` and `price`.**

In [31]:
top_5_cars = auto.sort_values(by=['highway_mpg', 'price'], ascending=False).head(5)
print(top_5_cars[['make', 'highway_mpg', 'price']])

          make  highway_mpg  price
29       honda           54   6479
17   chevrolet           53   5151
87      nissan           50   7099
155     toyota           47   7788
156     toyota           47   7738

**How many cars have missing values in the `normalized_losses` column?**

In [32]:
missing_normalized_losses = auto['normalized_losses'].isnull().sum()
print(missing_normalized_losses)

0

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

In [35]:
import numpy as np
current_year = 2025

auto['year_of_manufacture'] = auto.apply(
    lambda row: np.random.randint(2010, 2025) if row['engine_size'] >= 200 and row['horsepower'] >= 150 else
                np.random.randint(2000, 2010) if row['engine_size'] >= 150 and row['horsepower'] >= 100 else
                np.random.randint(1990, 2000) if row['engine_size'] >= 100 and row['horsepower'] >= 80 else
                np.random.randint(1980, 1990), axis=1)

auto['car_age'] = current_year - auto['year_of_manufacture']

print(auto[['make', 'year_of_manufacture', 'car_age']].head())

          make  year_of_manufacture  car_age
0  alfa-romero                 1992       33
1  alfa-romero                 1999       26
2  alfa-romero                 2008       17
3         audi                 1999       26
4         audi                 1997       28

### The END